LICENSE README.md toAlbania toAndorra toAustria toBelgium toBosnia-and-Herzegovina toBulgaria toCroatia toCzech-Republic toDenmark toEstonia toFaroe-Islands toFinland toFrance toGermany toGibraltar toGreece toHungary toIceland toIreland toItaly toLatvia toLiechtenstein toLithuania toLuxembourg toMacedonia toMalta toMoldova toMonaco toMontenegro toNetherlands toNorway toPoland toPortugal toRomania toSerbia toSlovakia toSlovenia toSpain toSweden toSwitzerland toUnited-Kingdom
